<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my portfolio!</h1>
    <p>My misson statement is use my programming skills to tackle real-world problems to the best of my ability and make a postive impact on society, while continually enhancing my programming skills and knowledge through my schooling to create high-quality software</p>
    <a class="btn btn-dark" href="/About" role="button">More about me</a>
  </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   